.FDCard {
  margin: 0px 20px 0px 0px;
  cursor: pointer;
  transition: transform 0.2s;
}

.FDCard:hover {
  transform: scale(1.05);
  /* box-shadow: 4px 2px 20px 1px rgba(0, 0, 0, 0.1); */
}

.FDCardImg {
  padding: 100px;
  border-radius: 10px 10px 10px 0px;
  margin-bottom: 10px;
}

.FDCard p {
  margin: 10px 0xp;
  padding: 10px 0xp;
  font-family: "Product Sans", Roboto;
  color: rgb(92, 92, 92);
}

@media only screen and (max-width: 1280px) {
  .FDCardImg {
    padding: 90px;
  }
}

@media only screen and (max-width: 768px) {
  .FDCardImg {
    padding: 80px;
  }
}
